@import url("https:// fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left-side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.container .right-side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imbBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.profileText h1 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.contactInfo {
  padding-top: 40ps;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contactInfo ul li a {
  color: #fff;
  font-weight: 300;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.educationinfo li {
  margin-bottom: 15px;
  list-style-type: none;
}

.educationinfo h2 {
  color: #fff;
  font-weight: 500;
}

.educationinfo p {
  color: #fff;
  font-weight: 300;
}

.educationinfo li {
  margin-bottom: 15px;
}

.languageInfo .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}

.languageInfo .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9;
}

.container .right-side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.project {
  margin-top: 20px;
}

.project ul {
  list-style: none;
  padding: 0;
}

.project li {
  margin-bottom: 10px;
}

.project a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #f0f0f0;
}

.title4 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo {
  background-image: url("./image/rs-logo.svg");
  width: 120px;
  height: 65px;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(125, 86, 12);
  padding: 10px 2%;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-footer {
  color: black;
}

.footer-git {
  width: 20%;
}

.footer-text {
  width: 70%;
  text-align: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 200px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar a {
  color: white;
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
}

.container {
  margin-right: 220px;
  margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}

.navbar a.active {
  border-bottom: 2px solid white;
}

@media (max-width: 600px) {
  .navbar {
      width: 100%;
      align-items: flex-start;
  }

  .container {
      margin-right: 0;
  }
}
